/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }

  .active {
    color: #0ea5e9;
    border-bottom: 2px solid #0ea5e9;
  }
  

.loginBtn{
    font-size: 16px;
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
    padding: 10px 15px;
    margin-left: 20px;
}
.searchWrap{
  background-image: url("../background-img.png");
  background-size:cover;
  overflow: hidden;
}